
body {
    font-size: 1.2em;
    width: 30%;
    margin: auto;
}

h1 {
    color: black;
    text-align: center;
}

p {
    line-height: 1.3;
}

p > a {
    text-decoration: none;
    color: darkblue;
}

p > a:visited {
    color: red;
}

p > a:hover {
    color: dodgerblue;
}

