<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="peca" class="com.projetosbase.cafecomxadrez.entities.Peca" abstract="true">
        <property name="id" value="1"/>
        <property name="isWhite" value="true"/>
    </bean>

<!--    pecas brancas -->
    <bean id="peaoBranco1" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="1"/>
        <property name="isWhite" value="true"/>
    </bean>
    <bean id="peaoBranco2" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="2"/>
        <property name="isWhite" value="true"/>
    </bean>
    <bean id="peaoBranco3" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="3"/>
        <property name="isWhite" value="true"/>
    </bean>
    <bean id="peaoBranco4" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="4"/>
        <property name="isWhite" value="true"/>
    </bean>
    <bean id="peaoBranco5" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="5"/>
        <property name="isWhite" value="true"/>
    </bean>
    <bean id="peaoBranco6" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="6"/>
        <property name="isWhite" value="true"/>
    </bean>
    <bean id="peaoBranco7" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="7"/>
        <property name="isWhite" value="true"/>
    </bean>
    <bean id="peaoBranco8" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="8"/>
        <property name="isWhite" value="true"/>
    </bean>

    <bean id="torreBranca1" class="com.projetosbase.cafecomxadrez.entities.pecas.Torre">
        <property name="id" value="9"></property>
        <property name="isWhite" value="true"></property>
    </bean>
    <bean id="torreBranca2" class="com.projetosbase.cafecomxadrez.entities.pecas.Torre">
        <property name="id" value="10"></property>
        <property name="isWhite" value="true"></property>
    </bean>

    <bean id="bispoBranco1" class="com.projetosbase.cafecomxadrez.entities.pecas.Bispo">
        <property name="id" value="11"></property>
        <property name="isWhite" value="true"></property>
    </bean>
    <bean id="bispoBranco2" class="com.projetosbase.cafecomxadrez.entities.pecas.Bispo">
        <property name="id" value="12"></property>
        <property name="isWhite" value="true"></property>
    </bean>

    <bean id="cavaloBranco1" class="com.projetosbase.cafecomxadrez.entities.pecas.Cavalo">
        <property name="id" value="13"></property>
        <property name="isWhite" value="true"></property>
    </bean>
    <bean id="cavaloBranco2" class="com.projetosbase.cafecomxadrez.entities.pecas.Cavalo">
        <property name="id" value="14"></property>
        <property name="isWhite" value="true"></property>
    </bean>

    <bean id="reiBranco" class="com.projetosbase.cafecomxadrez.entities.pecas.Rei">
        <property name="id" value="15"></property>
        <property name="isWhite" value="true"></property>
    </bean>

    <bean id="rainhaBranca" class="com.projetosbase.cafecomxadrez.entities.pecas.Rainha">
        <property name="id" value="16"></property>
        <property name="isWhite" value="true"></property>
    </bean>

    <!--    pecas pretas-->
    <bean id="peaoPreto1" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="17"/>
        <property name="isWhite" value="false"/>
    </bean>
    <bean id="peaoPreto2" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="18"/>
        <property name="isWhite" value="false"/>
    </bean>
    <bean id="peaoPreto3" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="19"/>
        <property name="isWhite" value="false"/>
    </bean>
    <bean id="peaoPreto4" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="20"/>
        <property name="isWhite" value="false"/>
    </bean>
    <bean id="peaoPreto5" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="21"/>
        <property name="isWhite" value="false"/>
    </bean>
    <bean id="peaoPreto6" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="22"/>
        <property name="isWhite" value="false"/>
    </bean>
    <bean id="peaoPreto7" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="23"/>
        <property name="isWhite" value="false"/>
    </bean>
    <bean id="peaoPreto8" class="com.projetosbase.cafecomxadrez.entities.pecas.Peao" parent="peca">
        <property name="id" value="24"/>
        <property name="isWhite" value="false"/>
    </bean>

    <bean id="torrePreta1" class="com.projetosbase.cafecomxadrez.entities.pecas.Torre">
        <property name="id" value="25"></property>
        <property name="isWhite" value="false"></property>
    </bean>
    <bean id="torrePreta2" class="com.projetosbase.cafecomxadrez.entities.pecas.Torre">
        <property name="id" value="26"></property>
        <property name="isWhite" value="false"></property>
    </bean>

    <bean id="bispoPreto1" class="com.projetosbase.cafecomxadrez.entities.pecas.Bispo">
        <property name="id" value="27"></property>
        <property name="isWhite" value="false"></property>
    </bean>
    <bean id="bispoPreto2" class="com.projetosbase.cafecomxadrez.entities.pecas.Bispo">
        <property name="id" value="28"></property>
        <property name="isWhite" value="false"></property>
    </bean>

    <bean id="cavaloPreto1" class="com.projetosbase.cafecomxadrez.entities.pecas.Cavalo">
        <property name="id" value="29"></property>
        <property name="isWhite" value="false"></property>
    </bean>
    <bean id="cavaloPreto2" class="com.projetosbase.cafecomxadrez.entities.pecas.Cavalo">
        <property name="id" value="30"></property>
        <property name="isWhite" value="false"></property>
    </bean>

    <bean id="reiPreto" class="com.projetosbase.cafecomxadrez.entities.pecas.Rei">
        <property name="id" value="31"></property>
        <property name="isWhite" value="false"></property>
    </bean>

    <bean id="rainhaPreta" class="com.projetosbase.cafecomxadrez.entities.pecas.Rainha">
        <property name="id" value="32"></property>
        <property name="isWhite" value="false"></property>
    </bean>

<!--    Casas do tabuleiro-->
<!--    Posicionando peças brancas-->
    <bean id="casaA2" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoBranco1"/>
    </bean>
    <bean id="casaB2" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoBranco2"/>
    </bean>
    <bean id="casaC2" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoBranco3"/>
    </bean>
    <bean id="casaD2" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoBranco4"/>
    </bean>
    <bean id="casaE2" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoBranco5"/>
    </bean>
    <bean id="casaF2" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoBranco6"/>
    </bean>
    <bean id="casaG2" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoBranco7"/>
    </bean>
    <bean id="casaH2" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoBranco8"/>
    </bean>

    <bean id="casaA1" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="torreBranca1"/>
    </bean>
    <bean id="casaH1" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="torreBranca2"/>
    </bean>

    <bean id="casaB1" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="cavaloBranco1"/>
    </bean>
    <bean id="casaG1" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="cavaloBranco2"/>
    </bean>

    <bean id="casaC1" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="bispoBranco1"/>
    </bean>
    <bean id="casaF1" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="bispoBranco2"/>
    </bean>

    <bean id="casaD1" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="rainhaBranca"/>
    </bean>

    <bean id="casaE1" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="reiBranco"/>
    </bean>

<!--    Posicionando peças pretas-->
    <bean id="casaA7" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoPreto1"/>
    </bean>
    <bean id="casaB7" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoPreto2"/>
    </bean>
    <bean id="casaC7" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoPreto3"/>
    </bean>
    <bean id="casaD7" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoPreto4"/>
    </bean>
    <bean id="casaE7" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoPreto5"/>
    </bean>
    <bean id="casaF7" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoPreto6"/>
    </bean>
    <bean id="casaG7" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoPreto7"/>
    </bean>
    <bean id="casaH7" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="peaoPreto8"/>
    </bean>

    <bean id="casaA8" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="torrePreta1"/>
    </bean>
    <bean id="casaH8" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="torrePreta2"/>
    </bean>

    <bean id="casaB8" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="cavaloPreto1"/>
    </bean>
    <bean id="casaG8" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="cavaloPreto2"/>
    </bean>

    <bean id="casaC8" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="bispoPreto1"/>
    </bean>
    <bean id="casaF8" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="bispoPreto2"/>
    </bean>

    <bean id="casaD8" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="rainhaPreta"/>
    </bean>

    <bean id="casaE8" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" ref="reiPreto"/>
    </bean>

    <bean id="semPeca" class="com.projetosbase.cafecomxadrez.entities.Casa">
        <property name="peca" value="#{ null }"/>
    </bean>

<!--    Para importar-->
<!--    <import resource="classpath:config/spring/that-other-xml-conf.xml"/>-->
    <bean id="tabuleiro" class="com.projetosbase.cafecomxadrez.entities.Tabuleiro">
        <property name="casas">
            <list>
                <list>
                    <ref bean="casaA8"></ref>
                    <ref bean="casaB8"></ref>
                    <ref bean="casaC8"></ref>
                    <ref bean="casaD8"></ref>
                    <ref bean="casaE8"></ref>
                    <ref bean="casaF8"></ref>
                    <ref bean="casaG8"></ref>
                    <ref bean="casaH8"></ref>
                </list>
                <list>
                    <ref bean="casaA7"></ref>
                    <ref bean="casaB7"></ref>
                    <ref bean="casaC7"></ref>
                    <ref bean="casaD7"></ref>
                    <ref bean="casaE7"></ref>
                    <ref bean="casaF7"></ref>
                    <ref bean="casaG7"></ref>
                    <ref bean="casaH7"></ref>
                </list>
                <list>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                </list>
                <list>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                </list>
                <list>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                </list>
                <list>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                    <ref bean="semPeca"></ref>
                </list>
                <list>
                    <ref bean="casaA2"></ref>
                    <ref bean="casaB2"></ref>
                    <ref bean="casaC2"></ref>
                    <ref bean="casaD2"></ref>
                    <ref bean="casaE2"></ref>
                    <ref bean="casaF2"></ref>
                    <ref bean="casaG2"></ref>
                    <ref bean="casaH2"></ref>
                </list>
                <list>
                    <ref bean="casaA1"></ref>
                    <ref bean="casaB1"></ref>
                    <ref bean="casaC1"></ref>
                    <ref bean="casaD1"></ref>
                    <ref bean="casaE1"></ref>
                    <ref bean="casaF1"></ref>
                    <ref bean="casaG1"></ref>
                    <ref bean="casaH1"></ref>
                </list>
            </list>
        </property>
    </bean>
</beans>